@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --dark-grey: #333333;
  --white: #f4f4f4;
  --green: #28a745;
  --orange: #f2ba6d;
  --pink: #db4b90;
  --violet: #a66bdb;

  --light-blue: #3388a2;
  --dark-blue: #286ba2;
  --teal: #339ca2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-y: scroll;
}

a {
  color: var(--dark-grey);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

/* Navbar */
.navbar {
  /*background-color: var(--dark-grey);*/
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  padding: 0.7rem;
  text-transform: uppercase;
  width: 100%;
}

.nav-item {
  padding: 0 10px;
}

.navbar a {
  color: var(--white);
  margin: 0 0.25rem;
  padding: 0.45rem;
}

.navbar a:hover {
  /*color: var(--teal);*/
}

.navbar .active {
  color: var(--orange);
}

/* Button */
.button {
  display: inline-block;
  background: var(--white);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.button-block {
  display: block;
  margin: auto;
  width: 30%;
}

.button-dark {
  background: var(--dark-grey);
  color: var(--white);
  margin: 4vh auto 2vh;
}

.button-clear {
  background-color: #3388a2;
  background-color: #286ba2 ;
  background-color: #339ca2;
  color: var(--white);
  font-size: 20px;
  padding: 0.6rem;
}

.button:hover {
  opacity: 0.9;
}

/* Search */
.Search {
  margin: 1.2rem auto 0;
}

.form {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 80px;
  width: 50%;
}

.form-content {
  position:relative;
}

/* Input */
.search-icon {
  left: 10px;
  position: absolute;
  top: 10px;
  width: 35px;
}

input {
  margin: 1.2rem 0;
}

input[type='text'] {
  /*border: 1px solid #ccc;*/
  border: none;
  border-radius: 4px;
  display: block;
  font-size: 1.2rem;
  padding: 1rem 1rem 1rem 4rem;
  width: 100%;
}

input[type='submit'],
button {
  font: inherit;
  font-size: 20px;
  padding: 0.6rem;
}



/* Alert */
.alert {
  background: #c4231d;
  color: var(--white);
  font-size: 20px;
  margin: 1rem 0;
  opacity: 0.9;
  padding: 0.6rem;
}

/* Style */
span {
  font-size: 18px;
  text-align: left;
}

/* Components */
/* Navbar */
.header {
  background: url(img/sky2-toon.jpg);
  background: url(img/sky.jpg);
  background: url(img/sky.webp);
  background: url(img/sky4.jpg);
  background: url(img/sky3.jpg);
  background: url(img/sky6.jpg);
  background: url(img/sky5.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 80vh;
  background-position: left;
  height: 360px;
}


/* MainInfo */

.MainInfo-header {
  align-items: center;
  background-color: var(--white);
  border: 1px solid #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh auto;
  padding: 3vh;
  width: 100%;
}

.card {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh auto;
}

/* WeatherInfo */
.WeatherInfo {
  border: 1px solid #3b3b3b;
}

.WeatherInfo .top-content {
  flex-wrap: wrap;
  margin-top: 20px;
  min-height: 20vh;
}

.WeatherInfo .card-top-header {
  margin: 10px 10px 0 10px;
  text-align: center;
}

.WeatherInfo .card-top-main {
  margin: 0 1vw 1vw;
}

.WeatherInfo .bottom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px 15px;
  width: 100%;
}


.WeatherInfo .bottom-left,
.WeatherInfo .bottom-right,
.CityInfo-main {
  margin: 5vw 1vw;
  width: calc(50% - 60px);
}

.WeatherInfo img {
  width: 100px;
}

.spaced {
  align-items: center;
  border-top: 1px solid dimgrey;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.spaced:first-child {
  border-top: none;
}


/* CityInfo */
.CityInfo {
  border: 1px solid #3b3b3b;
}






/* Mobile */
@media (max-width: 760px) {
  .WeatherInfo .bottom-content {
    display: block;
  }

  .WeatherInfo .bottom-left,
  .WeatherInfo .bottom-right,
  .CityInfo-main {
    margin: 5vh auto;
    width: 80%;
  }
}
