@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --dark-color: #333333;
  --white: #f4f4f4;
  --green: #28a745;
  --orange: #f2ba6d;
  --pink: #db4b90;
  --blue: #a66bdb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

/* Button */
.button {
  display: inline-block;
  background: var(--white);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.button-block {
  display: block;
  width: 100%;
}

.button-dark {
  background: var(--dark-color);
  color: var(--white);
}

.button-clear {
  background-color: var(--pink);
  color: var(--white);
  padding: 0.6rem;
  font-size: 20px;
}

.button:hover {
  opacity: 0.95;
}

/* Input */
input {
  margin: 1.2rem 0;
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
  font-size: 20px;
  padding: 0.6rem;
}

/* Navbar */
.navbar {
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.nav-item {
  padding: 0 10px;
}

.navbar a {
  color: var(--white);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--pink);
}


.alert {
  padding: 0.6rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #c4231d;
  background: #d73358;

  color: #333333;
  color: var(--white);
  font-size: 20px;
}

/* Style */
p {
  font-size: 18px;
}

/* Components */
/* MainInfo */
.title {
  font-size: 48px;
  margin: 3vh 0;
}

.MainInfo-header {
  align-items: center;
  background-color: var(--white);
  border: 2px solid darkslategrey;
  border: 1px solid #3b3b3b;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin: 3vw 0;
  width: 100%;
}

/* WeatherInfo */
.card {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh auto;
}

.top-content,
.bottom-content {
  width: 100%;
}

.top-content {
  align-items: center;
 /* background-color: lightsteelblue;*/
  display: flex;
  flex-wrap: wrap;
  min-height: 20vh;
  justify-content: space-around;
  padding: 20px;
}

.card-top-header,
.card-top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20vh;
  padding: 0 10vw;
}

.card-top-header {

}

.time-wrapper {
  padding-bottom: 2vh;
}

.card-top-content {
}

.bottom-content {
  padding: 5px 15px;
}

.bottom-card-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bottom-left,
.bottom-right {
  width: calc(50% - 15px);
}

.spaced {
  border-top: 1px solid dimgrey;
  padding: 10px 0;
}

.spaced:first-child {
  border-top: none;
}


.WeatherInfo {
  /*background-color: lightsteelblue;*/
  border: 1px solid #3b3b3b;
}

.WeatherInfo img {
  width: 100px;
}

.CityInfo {
  /*background-color: lightblue;*/
  border: 1px solid #3b3b3b;
}




/* Mobile */
@media (max-width: 760px) {
}
